#creditsbody {
    background: #111111;
    color: #ffffff;
  }
  
  #messenger_1 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 75vw;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-weight: 550;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75vw;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-weight: 550;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger_3 {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 75vw;
    text-align: center; 
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-weight: 550;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger_4 {
    position: relative;
    left: 5%;
    top: 8.5vh;
    overflow-wrap: break-word;
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger_5 {
    position: relative;
    left: 0%;
    top: 10vh;
    overflow-wrap: break-word;
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger_6 {
    position: relative;
    left: 0%;
    top: 13vh;

    overflow-wrap: break-word;
    font-family: Poppins;
    font-weight: 550;
    width: 90%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
  }

  #messenger_7 {
    position: relative;
    left: 0%;
    top: 16vh;
    
    font-family: Poppins;
    font-weight: 550;
    
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    overflow-wrap: break-word;
    width: 90%;
  }

  #messenger_8 {
    position: relative;
    left: 0%;
    top: 19vh;
    
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    overflow-wrap: break-word;
  }

  #messenger_9 {
    position: relative;
    left: 0%;
    top: 22vh;
    
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    overflow-wrap: break-word;
  }

  #messenger_10 {
    position: relative;
    left: 0%;
    top: 25vh;
    
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    overflow-wrap: break-word;
  }

  #messenger_11 {
    position: relative;
    left: 0%;
    top: 28vh;
    
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    overflow-wrap: break-word;
  }

  #mail{
    position: absolute;
    left: 10%;
    width: 90%;
  }

  #button{
    position: absolute;
    z-index: 100;
  }
  