
@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingPage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.waterWaveCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1980px;
  max-height: 1080px;
  overflow: hidden;
  position: relative;
}

#landingPageTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 100%;
}

h2 {
  font-size: 2.5rem;
  white-space: nowrap;
  color: rgb(15, 16, 88);
}

#animatedTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
  width: 100%;
  height: auto;
  text-align: center;
  white-space: normal;
  overflow: hidden;
}

#animatedTitleContainer h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  #landingPageTextContainer h1 {
    line-height: 1.2;
    font-size: 6rem;
    color:rgb(15, 16, 88);
    text-align: left;
  }
  #landingPageTextContainer h2 {
    font-size: 2rem;
    white-space: normal;
    text-align: left;
  }
}

#animatedTitleContainer h1:nth-child(1) {
  color: rgb(15, 16, 88);
  --webkit-text-stroke: 5px #1c8bba;
}

#animatedTitleContainer h1:nth-child(2) {
  color: rgb(75, 114, 186);
  animation: animate 4s ease-in-out infinite; /* Corrected "infinite" spelling */
}
@keyframes animate
{
  0%, 100%
  {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
      54% 60%, 70% 61%, 84% 59%, 100% 52%,
      100% 100%, 0% 100%);
  }
  50%
  {
    clip-path: polygon(0 60%, 16% 65%, 34% 66%,
    51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%,
    0% 100%);
  }
}