
@import url('https://fonts.googleapis.com/css?family=Poppins');
*
{
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingPage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.waterWaveCanvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1980px;
  max-height: 1080px;
  overflow: hidden;
  position: relative;
}

#landingPageTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 100%;
  text-align: left;
}

h1 {
  user-select: none;
  line-height: 1.2;
  font-size: 9rem;
  color:rgb(15, 16, 88);
  text-align: left;
}

h2 {
  user-select: none;
  font-size: 3rem;
  color: rgb(15, 16, 88);
}

@media screen and (max-width: 1024px) {
  h1 {
    line-height: 1.2;
    font-size: 6rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    line-height: 1.2;
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}