body {
    background: #111111;
    color: #ffffff;
  }
  
  #messenger1 {
    position: absolute;
    top: 30%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-weight: 550;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger2 {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-weight: 550;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger3 {
    position: absolute;
    top: 70%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-weight: 550;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    text-overflow: ellipsis;
  }

  #messenger4 {
    position: relative;
    left: 5%;
    top: 3.5rem;
    overflow-wrap: break-word;
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
  }

  #messenger5 {
    position: relative;
    left: 0%;
    top: 6.5rem;
    overflow-wrap: break-word;
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
  }

  #messenger6 {
    position: relative;
    left: 0%;
    top: 9.5rem;
    overflow-wrap: break-word;
    font-family: Poppins;
    font-weight: 550;
    width: 90%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
  }

  #messenger7 {
    position: relative;
    left: 0%;
    top: 12.5rem;
    
    font-family: Poppins;
    font-weight: 550;
    
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    overflow-wrap: break-word;
    width: 90%;
  }

  #messenger8 {
    position: relative;
    left: 0%;
    top: 21rem;
    
    font-family: Poppins;
    font-weight: 550;
    width: 85%;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    font-size: 1.9rem;
    overflow-wrap: break-word;
  }

  #mail{
    position: absolute;
    left: 10%;
    width: 90%;
  }

  #button{
    position: absolute;
    z-index: 100;
  }
  