.globe-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-overlay {
    position: relative;
    background-color: azure;
    top: 50px;
    left: 40px;
    width: 20%;
    height: 20%;
    z-index: 2; /* Adjust the z-index to control the stacking order */
    pointer-events: none; /* Allows interactions with the globe underneath */
}

.image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust the image sizing as needed */
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    background-color: #f8f9fa; /* Bootstrap light gray background color */
    padding: 20px;
    border: 1px solid #dee2e6; /* Bootstrap border color */
    border-radius: 4px; /* Bootstrap border radius */
    max-width: 600px;
    margin-bottom: 20px; /* Add margin to control spacing to the next component */
    text-align:left;
}

h2 {
    font-size: 1.0rem;
    line-height: 1.0;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
