.header-container {
  background-image: url('../../resources/NASA-Galaxies15k-HubbleHDUV-20180816.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  margin-top: 5vh;
  margin:0;
}

.buttons-group{
  flex-direction: row;
}
