.header-container {
    background-image: url('../../resources/NASA-Galaxies15k-HubbleHDUV-20180816.png'); /* Adjust the path based on your project structure */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200px; /* Set an appropriate height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
  }
  
  /* Add any additional styles as needed */
  